* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 45px;
    color: #fff;
}

.pup {
    font-size: 25px;
}

.pup.ravno {
    color: lightseagreen;
}

.pup.plus {
    color: palevioletred;
}

.pup.tilda {
    color: green;
}

.pup.sss {
    color: purple;
}

canvas {
    display: block;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #fff;
    color: #000000;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    background: #FFA07A;
}

.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 5%;
    left: 10%;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}

@media all and (max-width: 600px) {
    .btn {
        display: none;
    }

    .btn:focus {
        display: none;
    }

    .btn:hover {
        display: none;
    }

    .btn:active {
        transform: scale(0.98);
    }

    .rules-btn {
        display: none;
    }

    .rules {
        display: none;
    }

    .rules.show {
        display: none;
    }
}